  
    <h2>HEADERS:</h2>

    <pre><%= JSON.stringify(req.headers);%></pre>

    <h2>COOKIES:</h2>
    <pre><%= JSON.stringify(req.cookies);%></pre>
	
	<h2>SESSION DATA:</h2>
    <pre><%= JSON.stringify(req.session);%></pre>